body {
    margin: 0;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

.quad {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-family: Helvetica, Arial, sans-serif;
}

#play {
    background-color: aliceblue;
}

#fight {
    background-color: pink;
}

#sleep {
    background-color: mintcream;
}
